.header {
  font-family: helvetica, sans-serif;
  font-weight: 100;
  display: block;
  color: #333;
  padding: 30px 25px 0;
  margin: 0;
}

button {
  background-color: white;
  border: 1px solid #333;
  border-radius: 4px;
  padding: 7px 20px;
  margin: 3px;
  font-size: 16px;
  color: #333;
}

.button-filters {
  float: left;
  padding: 25px;

}

#flash-cards {
  float: left;
  width: 100%;
/*  text-align: center;*/
}

#flash-cards .mix {
  display: none;
}

#flash-cards .mix img {
  width: 360px;
  margin-right: 10px;
}

.portfolio-item {
    margin-bottom: 25px;
}

footer {
    margin: 50px 0;
}
