.header {
  font-family: helvetica, sans-serif;
  font-weight: 100;
  display: block;
  color: #333;
  padding: 30px 25px 0;
  margin: 0;
  text-align: center;
}

p {
  font-family: helvetica, sans-serif;
  font-weight: 100;
  display: block;
  padding: 30px 25px 0;
  margin: 0;
}

button {
  border: 1px solid white;
  border-radius: 4px;
  padding: 7px 20px;
  margin: 3px;
  font-size: 16px;
  color: white;
  background-color: black;
}

.button-filters {
 /* float: left;*/
  padding: 25px;
}

#flash-cards {
  width: 100%;
  padding-bottom: 80px
}

#flash-cards .mix {
  display: none;
}

#flash-cards .mix img {
  width: 300px;
   -webkit-transition: all 1s ease;
   -moz-transition: all 1s ease;
   -o-transition: all 1s ease;
   -ms-transition: all 1s ease;
   transition: all 1s ease;
   filter: grayscale(100%);
  
}

#flash-cards .mix img:hover {
  
  -webkit-filter: brightness(90%);
   filter: brightness(90%);
  
}
  /*margin-right: 10px;*/
}

.portfolio-item {
/*  margin-bottom: 25px;*/
}
