body {
  margin: 20px;
  text-align: left;
  font-family: Helvetica,Arial,sans-serif;
  font-style: normal;
  font-size: 1em;
}
h1, h2 {
  padding: 20px;
}
input {
  font-size: 2em;
  height: 50px;
  margin: 20px;
}

form {
  color: blue;
}
.improve_translate {
  background-color: #ddd;
  height: 300px;
}
