<!DOCTYPE html>
<html>
<title>Speak and Translate</title>
<link rel="stylesheet" type="text/css" href="style.css">
<body>
    <h3>thank you!</h3>
    <!-- // use <% %> tags for embedded JS -->
    <p>Do you want to improve translation of <%= response%>?</p>
    <p><a href='/display'>see all</a></p>
</body>
</html>
