<!DOCTYPE html>
<html>
<title>Speak and Translate</title>
<link rel="stylesheet" type="text/css" href="style.css">
<body>
    <h3>Did you want to improve translation?</h3>

    <% for (var i = 0; i < submissions_on_page.length; i++) { %>
    <%      var fontSize = Math.floor(Math.random() * 80) + 10; %>
    <div style="font-size: <%- fontSize %>px"> <%= submissions_on_page[i].submission; %>
    </div>
    <% } %>

    <p><a href='/form.html'>submit another</a></p>
</body>
</html>
